body {
  font-family: Arial, sans-serif;
  background-image: url(img/saudePorDoSol.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background-color: rgb(91, 27, 0);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin-right: 60rem;
  width: 350px;
  height: 350px;
}

h1 {
  margin-top: 0;
  text-align: center;
  color: #007bff;
}

label {
  font-size: 1.5rem;
  display: block;
  margin: 18px;
  width: 300px;
  color: #007bff;
  padding: 5px;
}
input,
button {
  display: block;
  margin: 15px;
  width: 300px;
  border-radius: 7px;
  color: #007bff;
  padding: 10px;
}

#weight {
  font-size: 1.5rem;
}

#height {
  font-size: 1.5rem;
}

button {
  background-color: #007bff;
  width: 322px;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#result {
  font-weight: bold;
  font-size: 50px;
}
